@import "../scss/components/_header";
@import "../scss/components/_variables";
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/forms";

body {
    margin: 0px;
}


.wrapper {
    margin: 0 auto;
    max-width: 1000px;
}

// contacts 

.profile-main-left {

    max-width: 300px;
    background-color: $bg;
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
    border-radius: 10px;
    color: #fff;
    
    & .profile-link,
      .dropdown {
        margin: 10px 0px 0px 0px;
      }

    & img {
        margin: 1rem 0 1rem 0;
    }
    
    & .profile-link {
        color: #fff;
        text-transform: uppercase;
        font-family: $font-family-sans-serif;
        font-size: 2rem;
        margin: 0px 5px;
    }

    & .profile-link:hover {
        color: rgb(213, 211, 211);
    }
    
    & img {
        
        border-radius: 50%;
        max-width: 150px;
    }

    // PROFILE SITE 

    & .display-3 {
        color: #fff;
        text-transform: uppercase;
    }

    & .p-style {
        color: $orange;
    }

    & .list-group-item:hover {
        color: $orange;
        cursor: pointer;

    }
}

// DROPDOWN

.dropdown {

    padding: 10px;

    & .btn.btn-secondary.dropdown-toggle {
        width: 200px;
    }

    & .btn {
        border-radius: none;
    }

    & .dropdown-menu.show {
        background-color: $bg;
    }

    & .dropdown-item {
        color: $orange;
        width: 200px;
    }

    & .dropdown-item:hover {
        color: #fff;
        background-color: $orangeHover;
    }

    
}

.feed-hr {
    border: 2px $orange solid;
    opacity: 1;
}

.text-body {
    text-transform: uppercase;
    
    & span {
        text-transform: none
    }
}

// Feed update

.list-unstyled {

    & .far {
        color: $orange;
    }

    & .fa-heart {
        color: $red;
    }
}
.d-flex {

    & .btn {
        background-color: $orange;
        border: none;
    }

    & .btn:hover {
        background-color: $orangeHover;
    }
}

// LOGIN 

.container-sm {
    justify-content: center;
    max-width: 400px;
}

.form-login {

    & .form-control:focus {
        border: 1px solid #ced4da;
        box-shadow: none;
    }

    & .form-control:hover {
        background-color: rgb(240, 240, 240);
    }

    & .btn {
        background-color: $orange;
        border: none;
    }

    & .btn:hover {
        background-color: $orangeHover;
    }
}

footer {
    margin: 0.5rem 0;
    text-align: center;
    background-color: $bg;
    color: $orange;
    height: 1.8rem;
    text-transform: uppercase;
}